config 'station'
	option 'port' '502'
	option 'ipaddr' '192.168.150.193'
	option 'unit_id' '1'
	option 'enable' '1'
	option 'tagname' 'modbus-s1'
	option 'description' '8.OG Systemverteiler Hotelzimmer'
	option 'csv' '/etc/modbus-s1.csv'

config 'station'
	option 'port' '502'
	option 'ipaddr' '192.168.150.194'
	option 'unit_id' '1'
	option 'enable' '1'
	option 'tagname' 'modbus-s2'
	option 'description' '9.OG Systemverteiler'
	option 'csv' '/etc/modbus-s2.csv'
