
config station
	option port '502'
	option unit_id '1'
	option tagname 'modbus-s1'
	option description '8.OG Systemverteiler Hotelzimmer'
	option csv '/etc/modbus-s1.csv'
	option enable '1'
	option backend 'tcp'
	option ip4addr '192.168.150.210'

config 'station'
	option 'unit_id' '1'
	option 'enable' '0'
	option 'tagname' 'modbus-s2'
	option 'description' '9.OG Systemverteiler'
	option 'csv' '/etc/modbus-s2.csv'
	option backend 'rtu'
	option ttydev '/dev/ttyUSB0'
	option baud '115200'
	option parity_bit 'N'
	option data_bit '8'
	option stop_bit '1'

config 'station'
	option 'port' '502'
	option 'unit_id' '1'
	option 'enable' '0'
	option 'tagname' 'modbus-s3'
	option 'description' '10.OG Systemverteiler'
	option 'csv' '/etc/modbus-s3.csv'
	option backend 'tcppi'
	option ip6addr 'fe80::1'
