<%+header%>

<h3>Detected Browser: <div id="brow">...</div></h3>
<a>console:</a></br>
<a># ubus listen</a></br>
<a># ubus send chat '{ "id": "1234","nick": "icke","msg": "und er" }'</a></br>
<table>
	<tr>
		<td width="400" id="wsdi_statustd" align="center"><div id="wsdi_status">Not initialized</div><a id="wsdi_http" href="" target="_blank"></a></td>
	</tr>
</table>
<h2>Nick Liste<h2>
<ol id="nick_list">
</ol>
<table>
	<tr>
		<td align="center"><input type="text" id="nick"></input>  <input class="cbi-button" type="button" id="nick" value="Update Nick" onclick="set_nick();" ></input></td>
	</tr>
</table>
<h2>Chat Console<h2>
<ol id="number">
</ol>
<table>
	<tr>
		<td align="center"><input type="text" id="txtinput"></input>  <input class="cbi-button" type="button" id="offset" value="Send" onclick="socket_send();" ></input></td>
	</tr>
</table>

<script type="text/javascript" src="/luci-static/resources/chat.js"></script>

<%+footer%>

