config dev '0'
	option enable '1'
	option description 'Openwrt Router'
	option modelname 'Openwrt Router'
	option location 'Europe'
	option app_ver '12.09'
	option name 'openwrt-router-bip'
	option id '4711'
	option port '47808'
	option net '0'
	option iface 'lan'
	option bacdl 'bip'

config dev '1'
	option enable '0'
	option description 'Openwrt Router'
	option modelname 'Openwrt Router'
	option location 'Europe'
	option app_ver '12.09'
	option name 'openwrt-router-ethernet'
	option id '4712'
	option net '0'
	option iface 'lan'
	option bacdl 'ethernet'

