
config ai 'default'
	option si_unit '98'
	option value '23'
	option description 'Analog Input'
	option nc '1'
	option event '7'
	option limit '3'
	option high_limit '100'
	option low_limit '0'
	option dead_limit '0'
	option cov_increment '0.1'
	option max_value '100'
	option min_value '0'

config ai '0'
	option pgroup 'ZF_EZR08'
	option name 'AI_00'
	option description 'Raumtemperatur'
	option addr '0'
	option tagname 'modbus-s1'
	option si_unit '62'
	option value '0.000000'
	option value_time '1521886635'
	option Out_Of_Service '1'

config ai '1'
	option pgroup 'ZF_EZR08'
	option name 'AI_01'
	option description 'Raumtemperatur'
	option addr '1'
	option tagname 'modbus-s1'
	option si_unit '62'
	option value '0.000000'
	option value_time '1521886635'
	option Out_Of_Service '1'

config ai '2'
	option pgroup 'ZF_EZR08'
	option name 'AI_02'
	option description 'Raumtemperatur'
	option addr '2'
	option tagname 'modbus-s1'
	option si_unit '62'
	option value '0.000000'
	option value_time '1521886635'
	option Out_Of_Service '1'

config ai '3'
	option pgroup 'ZF_EZR08'
	option name 'AI_03'
	option description 'Raumtemperatur'
	option addr '3'
	option tagname 'modbus-s1'
	option si_unit '62'
	option value '0.000000'
	option value_time '0'
	option Out_Of_Service '1'

config ai '4'
	option pgroup 'ZF_EZR08'
	option name 'AI_04'
	option description 'Raumtemperatur'
	option addr '0'
	option tagname 'modbus-s2'
	option si_unit '62'
	option value_time '1521886637'
	option value '55.000000'
	option Out_Of_Service '1'

config ai '5'
	option pgroup 'ZF_EZR08'
	option name 'AI_05'
	option description 'Raumtemperatur'
	option addr '1'
	option tagname 'modbus-s2'
	option si_unit '62'
	option value_time '1521886637'
	option value '66.000000'
	option Out_Of_Service '1'

config ai '6'
	option pgroup 'ZF_EZR08'
	option name 'AI_06'
	option description 'Raumtemperatur'
	option addr '2'
	option tagname 'modbus-s2'
	option si_unit '62'
	option value_time '1521886637'
	option value '77.000000'
	option Out_Of_Service '1'

config ai '7'
	option pgroup 'ZF_EZR08'
	option name 'AI_07'
	option description 'Raumtemperatur'
	option addr '3'
	option tagname 'modbus-s2'
	option si_unit '62'
	option value_time '1521886638'
	option value '88.000000'
	option Out_Of_Service '1'

