
config ao 'default'
	option si_unit '98'
	option description 'Analog Value'
	option nc '1'
	option event '7'
	option limit '0'
	option high_limit '100'
	option low_limit '0'
	option dead_limit '0'
	option cov_increment '0.1'
	option max_value '100'
	option min_value '0'

config ao '0'
	option pgroup 'R802'
	option name 'R801_HZ_Y'
	option description 'Heizventil'
	option addr '11'
	option tagname 'modbus-s1'
	option resolution '0.1'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option value '0.000000'

config ao '1'
	option pgroup 'R802'
	option name 'R802_HZ_Y'
	option description 'Heizventil'
	option addr '12'
	option tagname 'modbus-s1'
	option resolution '0.1'
	option value '0.000000'

config ao '2'
	option pgroup 'R301'
	option name 'R301_DL_HW'
	option description 'Deckenleuchte Helligkeitswert'
	option addr '0/0/2'
	option tagname 'linknx'
	option resolution '0.1'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option dpt '5.001'
	option Out_Of_Service '0'
	option fb_value '0'
	option value '0'
	option value_time '0'

config ao '3'
	option pgroup 'R301'
	option name 'R301_Ventil_Heizen'
	option description 'Heizventil'
	option addr '0/0/11'
	option tagname 'linknx'
	option resolution '0.1'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option dpt '5.001'
	option Out_Of_Service '0'
	option fb_value '0'
	option value '0'
	option value_time '0'

config ao '4'
	option pgroup 'R301'
	option name 'R301_Ventil_Kuehlen'
	option description 'Kuehlventil'
	option addr '0/0/12'
	option tagname 'linknx'
	option resolution '0.1'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option dpt '5.001'
	option Out_Of_Service '0'
	option fb_value '0'
	option value '0'
	option value_time '0'

