
config nc 'default'
	option description 'Notification Class default'
	option name 'Notification Class'
	option group 'ZF'

config nc '0'
	option description 'Network Monitoring'
	option name 'Komunikationfehler'
	option group 'ZF'
	list recipient '65535'
	list recipient '1,104.13.8.92:47808'

config nc '1'
	option description 'Modbus Sensor Fehler'
	option name 'Sensor Fehler'
	option group 'ZF'
	list recipient '65535'
	list recipient '1,104.13.8.92:47808'

