
config av 'default'
	option si_unit '98'
	option description 'Analog Value'
	option nc '1'
	option event '7'
	option limit '3'
	option high_limit '40'
	option low_limit '0'
	option dead_limit '0'
	option cov_increment '0.1'
	option max_value '100'
	option min_value '0'

config av '0'
	option pgroup 'EZR08'
	option name 'R801_RT'
	option description 'Raumtemperatur'
	option addr '1'
	option tagname 'modbus-s1'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution 'doublefloat'
	option value '0.000000'

config av '1'
	option pgroup 'EZR08'
	option name 'R802_RT'
	option description 'Raumtemperatur'
	option tagname 'modbus-s1'
	option si_unit '62'
	option resolution 'doublefloat'
	option addr '3'
	option value '0.000000'

config av '2'
	option pgroup 'EZR09'
	option name 'R901_RT'
	option description 'Raumtemperatur'
	option addr '1'
	option tagname 'modbus-s2'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution 'doublefloat'
	option value '0.000000'

config av '3'
	option pgroup 'EZR09'
	option name 'R902_RT'
	option description 'Raumtemperatur'
	option tagname 'modbus-s2'
	option si_unit '62'
	option resolution 'doublefloat'
	option addr '3'
	option value '0.000000'

config av '4'
	option pgroup 'EZR09'
	option name 'dword1'
	option description 'Datenwort 1 16Bit'
	option tagname 'modbus-s1'
	option si_unit '61'
	option resolution '1'
	option addr '4'
	option cov_increment '1'
	option value '0'

