config bi 'default'
	option description 'Binary Input'
	option inactive 'AUS'
	option active 'EIN'
	option nc '1'
	option event '7'
	option time_delay '3'
	option alarm_value '0'

config bi '0'
	option value '0'
	option name 'BI_01'
	option description 'Input 1'

config bi '1'
	option value '0'
	option name 'BI_02'
	option description 'Input 2'

config bi '2'
	option value '0'
	option name 'BI_03'
	option description 'Input 3'

