
config ao 'default'
	option si_unit '98'
	option description 'Analog Value'
	option nc '1'
	option event '7'
	option limit '0'
	option high_limit '100'
	option low_limit '0'
	option dead_limit '0'
	option cov_increment '0.1'
	option value '0'

config ao '0'
	option pgroup 'ZF_EZR08'
	option name 'R801_HZ_Y'
	option description 'Heizventil'
	option addr '11'
	option tagname 'modbus-s1'
	option resolution '0.1'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option value '0.000000'
	option Out_Of_Service '0'
	option value_time '1384274334'

config ao '1'
	option pgroup 'ZF_EZR08'
	option name 'R802_HZ_Y'
	option description 'Heizventil'
	option addr '12'
	option tagname 'modbus-s1'
	option resolution '0.1'
	option value '0.000000'
	option Out_Of_Service '0'
	option value_time '1384274334'

config ao '2'
	option pgroup 'ZF_EZR09'
	option name 'R901_HZ_Y'
	option description 'Heizventil'
	option addr '11'
	option tagname 'modbus-s2'
	option resolution '0.1'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option value '0.000000'
	option Out_Of_Service '0'
	option value_time '1384274333'

config ao '3'
	option pgroup 'ZF_EZR09'
	option name 'R902_HZ_Y'
	option description 'Heizventil'
	option addr '12'
	option tagname 'modbus-s2'
	option resolution '0.1'
	option value '0.000000'
	option Out_Of_Service '0'
	option value_time '1384274333'

