
config bo 'default'
	option description 'Binary Output'
	option inactive 'AUS'
	option active 'EIN'
	option nc '1'
	option event '7'
	option time_delay '3'

config bo '0'
	option name 'BO_00'
	option tagname 'modbus-s1'
	option addr '5'
	option bit '0'
	option resolution 'dword'
	option active 'Ein'
	option inactive 'Aus'
	option description 'Datenwort 2 Bit 0'
	option value '0'
	option fb_value '0'

config bo '1'
	option name 'BO_01'
	option tagname 'modbus-s1'
	option addr '5'
	option bit '1'
	option resolution 'dword'
	option active 'Ein'
	option inactive 'Aus'
	option description 'Datenwort 2 Bit 1'
	option value '0'
	option fb_value '0'

config bo '2'
	option name 'BO_02'
	option description 'Datenwort 2 Bit 2'
	option bit '2'
	option tagname 'modbus-s1'
	option resolution 'dword'
	option addr '5'
	option active 'Ein'
	option inactive 'Aus'
	option value '0'
	option fb_value '0'

config bo '3'
	option name 'BO_03'
	option description 'Datenwort 2 Bit 3'
	option bit '3'
	option tagname 'modbus-s1'
	option resolution 'dword'
	option addr '5'
	option value '0'
	option active 'Ein'
	option inactive 'Aus'
	option fb_value '0'

config bo '4'
	option name 'BO_04'
	option description 'Datenwort 2 Bit 4'
	option bit '4'
	option tagname 'modbus-s1'
	option resolution 'dword'
	option addr '5'
	option active 'Ein'
	option inactive 'Aus'
	option value '0'
	option fb_value '0'

config bo '5'
	option name 'BO_05'
	option description 'Datenwort 2 Bit 5'
	option bit '5'
	option tagname 'modbus-s1'
	option resolution 'dword'
	option addr '5'
	option active 'Ein'
	option inactive 'Aus'
	option value '0'
	option fb_value '0'

