config av 'default'
        option si_unit '98'
        option value '23'
        option description 'Analog Value'
        option nc '1'
        option event '7'
        option limit '3'
        option high_limit '40'
        option low_limit '0'
        option dead_limit '0'

config av '0'
	option pgroup 'ZF_EZR08'
	option name 'R801_RT'
	option description 'Raumtemperatur'
	option addr '12288'
	option tagname 'ZF_EZR08_SV01'
	option si_unit '62'
	option value '24'
	option tl '1'
	option group 'R801'

config av '1'
	option pgroup 'ZF_EZR08'
	option name 'R802_RT'
	option description 'Raumtemperatur'
	option addr '12292'
	option tagname 'ZF_EZR08_SV01'
	option si_unit '62'
	option value '25'
	option tl '1'
	option group 'R802'

