
config bi 'default'
	option description 'Binary Input'
	option inactive 'AUS'
	option active 'EIN'
	option nc '1'
	option event '7'
	option time_delay '3'

config bi '0'
	option name 'BI_00'
	option alarm_value '0'
	option tagname 'modbus-s1'
	option addr '4'
	option bit '0'
	option resolution 'dword'
	option active 'Ein'
	option inactive 'Aus'
	option description 'Datenwort 1 Bit 0'
	option value '0'
	option Out_Of_Service '0'
	option value_time '1384274334'

config bi '1'
	option name 'BI_01'
	option alarm_value '0'
	option tagname 'modbus-s1'
	option addr '4'
	option bit '1'
	option resolution 'dword'
	option active 'Ein'
	option inactive 'Aus'
	option description 'Datenwort 1 Bit 1'
	option Out_Of_Service '0'
	option value '0'
	option value_time '1384274334'

config bi '2'
	option name 'BI_02'
	option description 'Datenwort 1 Bit 2'
	option alarm_value '1'
	option bit '2'
	option tagname 'modbus-s1'
	option resolution 'dword'
	option addr '4'
	option active 'Ein'
	option inactive 'Aus'
	option value '0'
	option Out_Of_Service '0'
	option value_time '1384274334'

config bi '3'
	option name 'BI_03'
	option description 'Datenwort 1 Bit 3'
	option alarm_value '1'
	option bit '3'
	option tagname 'modbus-s1'
	option resolution 'dword'
	option addr '4'
	option value '0'
	option active 'Ein'
	option inactive 'Aus'
	option Out_Of_Service '0'
	option value_time '1384274334'

config bi '4'
	option name 'BI_04'
	option description 'Datenwort 1 Bit 4'
	option alarm_value '1'
	option bit '4'
	option tagname 'modbus-s1'
	option resolution 'dword'
	option addr '4'
	option active 'Ein'
	option inactive 'Aus'
	option value '0'
	option Out_Of_Service '0'
	option value_time '1384274334'

config bi '5'
	option name 'BI_05'
	option description 'Datenwort 1 Bit 5'
	option alarm_value '1'
	option bit '5'
	option tagname 'modbus-s1'
	option resolution 'dword'
	option addr '4'
	option active 'Ein'
	option inactive 'Aus'
	option value '0'
	option Out_Of_Service '0'
	option value_time '1384274334'

