
config av 'default'
	option si_unit '98'
	option description 'Analog Value'
	option nc '1'
	option event '7'
	option limit '3'
	option high_limit '40'
	option low_limit '0'
	option dead_limit '0'
	option cov_increment '0.1'
	option max_value '100'
	option min_value '0'

config av '0'
	option pgroup 'R801'
	option name 'R801_RT'
	option description 'Raumtemperatur'
	option addr '0'
	option tagname 'modbus-s1'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution '0.1'
	option value '300.000000'
	option value_time '1521885295'
	option Out_Of_Service '1'

config av '1'
	option pgroup 'R301'
	option name 'R301_Temperatur_Sollwert'
	option description 'Raumtemperatur Sollwert berrechnet'
	option tagname 'linknx'
	option si_unit '62'
	option resolution '0.1'
	option addr '0/0/10'
	option value '23'
	option value_time '0'
	option Out_Of_Service '0'

config av '2'
	option pgroup 'R901'
	option name 'R901_RT'
	option description 'Raumtemperatur'
	option addr '2'
	option tagname 'modbus-s1'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution 'doublefloat'
	option value '0.000000'
	option value_time '1521885220'
	option Out_Of_Service '1'

config av '3'
	option pgroup 'R902'
	option name 'R902_RT'
	option description 'Raumtemperatur'
	option tagname 'modbus-s1'
	option si_unit '62'
	option resolution '0.1'
	option addr '3'
	option value '32.100002'
	option value_time '1521886193'
	option Out_Of_Service '1'

config av '4'
	option pgroup 'R810'
	option name 'dword1'
	option description 'Datenwort 1 16Bit'
	option tagname 'modbus-s1'
	option si_unit '61'
	option resolution '1'
	option addr '4'
	option cov_increment '1'
	option value '22.000000'
	option value_time '1521886154'
	option Out_Of_Service '1'

config av '5'
	option pgroup 'R810'
	option name 'R810_RT'
	option description 'Raumtemperatur'
	option addr '0'
	option tagname 'modbus-s2'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution '0.1'
	option value '0.000000'
	option value_time '1521886222'
	option Out_Of_Service '1'

config av '6'
	option pgroup 'R811'
	option name 'R811_RT'
	option description 'Raumtemperatur'
	option tagname 'modbus-s2'
	option si_unit '62'
	option resolution '0.1'
	option addr '1'
	option value '123.400002'
	option value_time '1521886149'
	option Out_Of_Service '1'

config av '7'
	option pgroup 'R910'
	option name 'R910_RT'
	option description 'Raumtemperatur'
	option addr '2'
	option tagname 'modbus-s2'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution 'doublefloat'
	option value '0.000000'
	option value_time '1521886211'
	option Out_Of_Service '1'

config av '8'
	option pgroup 'R911'
	option name 'R911_RT'
	option description 'Raumtemperatur'
	option tagname 'modbus-s2'
	option si_unit '62'
	option resolution '0.1'
	option addr '3'
	option value '2.200000'
	option value_time '1521886002'
	option Out_Of_Service '1'

config av '9'
	option pgroup 'R911'
	option name 'dword2'
	option description 'Datenwort 2 16Bit'
	option tagname 'modbus-s2'
	option si_unit '61'
	option resolution '1'
	option addr '4'
	option cov_increment '1'
	option value_time '1521885331'
	option value '555.000000'
	option Out_Of_Service '1'

