config mo 'default'
        list state 'up'
        list state 'down'
        list state 'unreachable'
        list state 'flaping'
        list alarmstate 'down'
        list alarmstate 'unreachable'
        list alarmstate 'flaping'
        option description 'Multi State Output'
        option nc '1'
        option event '7'

config mo '3'
	option name 'R301_DL_DIM'
	option tagname 'linknx'
	option dpt '3.007'
	list state 'Heller'
	list state 'Dunkler'
	list state 'Stop'
	option group 'R301'
	option description 'R301 Deckenleuchte Dim'
	option addr '0/0/3'
	option Out_Of_Service '0'
	option fb_value '3'
	option value '3'
	option value_time '0'
