
config ai 'default'
	option si_unit '98'
	option value '23'
	option description 'Analog Input'
	option nc '1'
	option event '7'
	option limit '3'
	option high_limit '100'
	option low_limit '0'
	option dead_limit '0'
	option cov_increment '0.1'
	option max_value '100'
	option min_value '0'

config ai '0'
	option pgroup 'ZF_EZR08'
	option name 'AI_00'
	option description 'Raumtemperatur'
	option addr '12288'
	option tagname 'ZF_EZR08_SV01'
	option si_unit '62'
	option value '22.000000'

config ai '1'
	option pgroup 'ZF_EZR08'
	option name 'AI_01'
	option description 'Raumtemperatur'
	option addr '12292'
	option tagname 'ZF_EZR08_SV01'
	option si_unit '62'
	option write '1'
	option value '33.000000'

config ai '2'
	option pgroup 'ZF_EZR08'
	option name 'AI_02'
	option description 'Raumtemperatur'
	option addr '12296'
	option tagname 'ZF_EZR08_SV01'
	option si_unit '62'
	option value '22.000000'

config ai '3'
	option pgroup 'ZF_EZR08'
	option name 'AI_03'
	option description 'Raumtemperatur'
	option addr '12298'
	option tagname 'ZF_EZR08_SV01'
	option si_unit '62'

