
config tl 'default'
	option description 'Analog Value'
	option nc '1'
	option device_type '8'
	option object_type '2'
	option interval '99'

config tl '0'
	option object_instance '0'
	option object_type '2'
	option interval '10'

config tl '1'
	option object_instance '1'
	option object_type '2'
	option interval '11'

config tl '2'
	option object_instance '2'
	option object_type '2'
	option interval '12'

config tl '3'
	option object_instance '3'
	option object_type '2'
	option interval '13'

config tl '4'
	option object_instance '4'
	option object_type '2'
	option interval '14'

config tl '5'
	option object_instance '0'
	option object_type '0'
	option interval '10'

config tl '6'
	option object_instance '1'
	option object_type '0'
	option interval '11'

config tl '7'
	option object_instance '2'
	option object_type '0'
	option interval '12'

config tl '8'
	option object_instance '3'
	option object_type '0'
	option interval '13'

config tl '9'
	option object_instance '4'
	option object_type '0'
	option interval '14'
