config 'main'
	option 'name' 'Project Name'
	option 'comment' 'Project Comment'

config 'group' 'ZF'
	option 'name' 'ZF'
	option 'ignore' '0'
	option 'groupexpr' 'ZF'
	option 'comment' 'ZF Comment'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.ZF.img'

config 'group' 'TR'
	option 'name' 'TR'
	option 'ignore' '0'
	option 'groupexpr' 'TR'
	option 'comment' 'Zoofenster Triangle'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.TR.img'

config 'group' 'OG8'
   	option 'pgroup' 'ZF'
    option 'name' 'OG8'
    option 'ignore' '0'
    option 'groupexpr' 'OG8'
    option 'comment' '8. OBERGESCHOSS'
    option 'img' '/lib/uci/upload/cbid.bacnet_group.OG8.img'

config 'group' 'R801'
	option 'pgroup' 'OG8'
	option 'name' 'R801'
	option 'ignore' '0'
	option 'comment' 'FLUR'
	option 'groupexpr' 'R801'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.R801.img'

config 'group' 'R802'
	option 'pgroup' 'OG8'
	option 'name' 'R802'
	option 'ignore' '0'
	option 'comment' 'Buero1'
	option 'groupexpr' 'R802'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.R802.img'

