config 'main'
	option 'name' 'Project Name'
	option 'comment' 'Project Comment'


config 'group' 'R301'
	option 'pgroup' 'OG3'
	option 'name' 'R301'
	option 'ignore' '0'
	option 'comment' 'FLUR'
	option 'groupexpr' 'R801'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.R301.img'

config 'group' 'OG8'
	option 'name' 'OG8'
	option 'ignore' '0'
	option 'groupexpr' 'OG8'
	option 'comment' '8. OBERGESCHOSS'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.OG8.img'

config 'group' 'R801'
	option 'pgroup' 'OG8'
	option 'name' 'R801'
	option 'ignore' '0'
	option 'comment' 'FLUR'
	option 'groupexpr' 'R801'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.R801.img'

config 'group' 'R802'
	option 'pgroup' 'OG8'
	option 'name' 'R802'
	option 'ignore' '0'
	option 'comment' 'Buero1'
	option 'groupexpr' 'R802'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.R802.img'

config 'group' 'OG9'
	option 'name' 'OG9'
	option 'ignore' '0'
	option 'groupexpr' 'OG9'
	option 'comment' '9. OBERGESCHOSS'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.OG9.img'

config 'group' 'R901'
	option 'pgroup' 'OG9'
	option 'name' 'R901'
	option 'ignore' '0'
	option 'comment' 'FLUR'
	option 'groupexpr' 'R901'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.R901.img'

config 'group' 'R902'
	option 'pgroup' 'OG9'
	option 'name' 'R902'
	option 'ignore' '0'
	option 'comment' 'Buero1'
	option 'groupexpr' 'R902'
	option 'img' '/lib/uci/upload/cbid.bacnet_group.R902.img'

