config mi 'default'
        list state 'up'
        list state 'down'
        list state 'unreachable'
        list state 'flaping'
        list alarmstate 'down'
        list alarmstate 'unreachable'
        list alarmstate 'flaping'
        option description 'Multi State Input'
        option nc '1'
        option event '7'

config mi '0'
        option name 'TR_EZR00_SV01_IN'
        option value '1'
        option description '192.168.100.29'

config mi '1'
        option name 'TR_EZR01_SV01_IN'
        option value '1'
        option description '192.168.100.30'

config mi '2'
        option name 'TR_EZR02_SV01_IN'
        option value '1'
        option description '192.168.100.32'

config mi '3'
        option name 'TR_EZR02_SV02_IN'
        option value '1'
        option description '192.168.100.33'
